<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.CustomerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SellerFilter</filter-name>
        <filter-class>filter.SellerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/userAccount.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/contactData.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/shoppingCartHistory.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/adminIndex.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/termManage.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SellerFilter</filter-name>
        <url-pattern>/editShop.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SellerFilter</filter-name>
        <url-pattern>/dailyReport.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SellerFilter</filter-name>
        <url-pattern>/manageOrder.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/confirmation.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/payment.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/viewShoppingBasket.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/orderStatus.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.Init</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            360
        </session-timeout>
    </session-config>
    <error-page>
<error-code>404</error-code>
<location>/notfoundpage.html</location>
</error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/bakery</description>
        <res-ref-name>test</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/bakery?useUnicode=true&amp;characterEncoding=UTF8</description>
        <res-ref-name>bakery</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
